*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.map
*.pyc
*.shf*
*.snk
*.suo
*.userprefs
.classpath
.nuget/
.pmd
.project
.settings/
CBORTest/OpenCover/
CBORTest/ProfilingSessions/
CBORTest/bin/
CBORTest/obj/
DecTest.js
Help/
ProfilingSessions/
TestResults/
bin/
encoding/
encodingfldr/
js/*.ht*
js/DecTest.*
obj/
packages/
target/
